<a href="https://colab.research.google.com/github/wkd-woo/finance-statements/blob/main/%EB%88%84%EB%9D%BD%EC%B0%BE%EA%B8%B0V3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U finance-datareader
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import FinanceDataReader as fdr

Requirement already satisfied: finance-datareader in /usr/local/lib/python3.7/dist-packages (0.9.33)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)

In [ ]:
통합재무정보 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/statements.csv', index_col = 0,  dtype={'종목코드':'str'})

In [ ]:
통합재무정보

,종목코드,사업연도,보고서종류,자산총계,자본총계,자본총계(비지배),부채총계,유동자산,당기순이익,당기순이익(비지배),매출액,현금및현금성자산,감가상각비,영업이익,매출총이익
0,060310,2021,3분기보고서,"65,694,406,823","39,604,250,285","346,899,422","26,090,156,538","28,475,453,922","2,141,910,533","168,854,904","18,062,116,780","6,020,012,116",0,"2,022,128,462","4,340,642,679"
1,060310,2021,1분기보고서,"57,532,354,433","37,025,096,733","160,552,033","20,507,257,700","19,475,037,181","-362,882,021","13,036,456","3,775,878,119","5,475,587,054",0,"-281,517,202","509,620,804"
2,060310,2021,반기보고서,"60,945,473,913","38,562,631,695","376,862,566","22,382,842,218","23,161,861,807","1,119,822,996","200,255,460","11,420,086,693","4,980,950,161",0,"1,056,624,172","2,578,306,966"
3,060310,2015,사업보고서,"67,359,971,696","37,939,808,456",0,"29,420,163,240","16,069,077,218","-5,599,032,927",0,"23,210,541,648","7,018,117,223",0,"-4,157,989,321","1,635,010,587"
4,060310,2016,3분기보고서,"59,740,105,216","35,061,777,226",0,"24,678,327,990","17,985,342,311","-2,606,151,383",0,"21,181,410,272","5,527,274,547",0,"-1,932,287,661","1,334,171,193"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38264,065650,2020,사업보고서,"47,217,129,660","27,856,442,820",0,"19,360,686,840","22,416,360,010","-3,521,169,069",0,"31,414,836,428","13,398,903,686",0,"-2,164,891,445","4,268,763,353"
38265,262840,2020,사업보고서,"29,801,051,915","20,070,268,768",0,"9,730,783,147","22,896,651,019","5,137,807,654",0,"15,270,479,176","903,083,315",0,"4,875,659,090","10,171,194,384"
38266,377190,2021,반기보고서,"757,741,121,157","325,909,527,744","14,329,183,694","431,831,593,413","21,431,619,143","2,150,044,521","154,836,078",0,"16,735,028,669",0,"4,865,784,111","9,201,108,120"
38267,334890,2021,반기보고서,"228,778,760,058","214,552,741,756",0,"14,226,018,302","44,761,246,058",0,0,"4,461,311,000","29,757,021,097",0,"4,160,253,012",0
38268,104120,2016,3분기보고서,"255,486,354,454","59,431,048,872",0,"196,055,305,582","205,728,877,349","954,976,851",0,"236,677,115,740","13,315,775,028",0,"10,545,813,943","29,853,342,376"

In [ ]:
자산총계누락 = 통합재무정보[(통합재무정보['자산총계'] == '0')|(통합재무정보['자산총계'] == 0)]['종목코드'].unique().tolist()
부채총계누락 = 통합재무정보[(통합재무정보['부채총계'] == '0')|(통합재무정보['부채총계'] == 0)]['종목코드'].unique().tolist()
자본총계누락 = 통합재무정보[(통합재무정보['자본총계'] == '0')|(통합재무정보['자본총계'] == 0)]['종목코드'].unique().tolist()

매출액누락 = 통합재무정보[(통합재무정보['매출액'] == '0')|(통합재무정보['매출액'] == 0)]['종목코드'].unique().tolist()
영업이익누락 = 통합재무정보[(통합재무정보['영업이익'] == '0')|(통합재무정보['영업이익'] == 0)]['종목코드'].unique().tolist()
매출총이익누락 = 통합재무정보[(통합재무정보['매출총이익'] == '0')|(통합재무정보['매출총이익'] == 0)]['종목코드'].unique().tolist()
당기순이익누락 = 통합재무정보[(통합재무정보['당기순이익'] == '0')|(통합재무정보['당기순이익'] == 0)]['종목코드'].unique().tolist()


전체누락 = 자산총계누락 + 부채총계누락 + 자본총계누락 + 매출액누락 + 영업이익누락 + 매출총이익누락 + 당기순이익누락

# 데이터 가져옴

In [ ]:
매출액누락추정 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/매출액누락추정.csv', index_col = 0,  dtype={'종목코드':'str'})
영업이익누락추정 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/영업이익누락추정.csv', index_col = 0,  dtype={'종목코드':'str'})
당기순이익누락추정 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/당기순이익누락추정.csv', index_col = 0,  dtype={'종목코드':'str'})
매출총이익누락추정 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/매출총이익누락추정.csv', index_col = 0,  dtype={'종목코드':'str'})

In [ ]:
import glob

재무상태표 = [] # _01_
손익계산서 = [] # _02_
포괄손익계산서 = [] # _03_
현금흐름표 = [] # _04_
자본변동표 = [] #_05_


for name in glob.glob('/content/drive/MyDrive/22캡스톤디자인/재무일괄/*.txt'):
  if '_01_' in name:
    재무상태표.append(name)
  elif '_02_' in name:
    손익계산서.append(name)
  elif '_03_' in name:
    포괄손익계산서.append(name)
  elif '_04_' in name:
    현금흐름표.append(name)
  elif '_05_' in name:
    자본변동표.append(name)

In [ ]:
포괄손익계산샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])

for path in tqdm(포괄손익계산서):
  temp = pd.read_csv(path, delimiter = '\t', encoding='cp949')  

  당기 = ''
  if temp['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기 누적' 
  elif temp['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기 누적' 
  elif temp['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기 누적' 
  elif temp['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  temp['사업연도'] = path[52:56] # 사업연도 컬럼 설정 - 파일명에서 가져온다
  temp['항목명'] = temp['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  temp['항목코드'] = temp['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  temp = temp[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]
  temp.rename(columns={당기:"당기"}, inplace=True)

  포괄손익계산샘플 = 포괄손익계산샘플.append(temp)

포괄손익계산샘플['종목코드'] = 포괄손익계산샘플['종목코드'].apply(lambda x:x[1:-1])

손익계산샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])

for path in tqdm(손익계산서):
  temp = pd.read_csv(path, delimiter = '\t', encoding='cp949')  

  당기 = ''
  if temp['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기 누적' 
  elif temp['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기 누적' 
  elif temp['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기 누적' 
  elif temp['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  temp['사업연도'] = path[52:56] # 사업연도 컬럼 설정 - 파일명에서 가져온다
  temp['항목명'] = temp['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  temp['항목코드'] = temp['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  temp = temp[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]
  temp.rename(columns={당기:"당기"}, inplace=True)

  손익계산샘플 = 손익계산샘플.append(temp)

손익계산샘플['종목코드'] = 손익계산샘플['종목코드'].apply(lambda x:x[1:-1])

재무상태표샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])

for path in tqdm(재무상태표):
  temp = pd.read_csv(path, delimiter = '\t', encoding='cp949')  

  당기 = ''
  if temp['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기말' 
  elif temp['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기말' 
  elif temp['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기말' 
  elif temp['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  temp['사업연도'] = path[52:56] # 사업연도 컬럼 설정 - 파일명에서 가져온다
  temp['항목명'] = temp['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  temp['항목코드'] = temp['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  temp = temp[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]
  temp.rename(columns={당기:"당기"}, inplace=True)

  재무상태표샘플 = 재무상태표샘플.append(temp)

재무상태표샘플['종목코드'] = 재무상태표샘플['종목코드'].apply(lambda x:x[1:-1])

 17%|█▋        | 4/24 [00:02<00:12,  1.60it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
100%|██████████| 24/24 [00:25<00:00,  1.07s/it]
100%|██████████| 24/24 [00:04<00:00,  5.93it/s]
 21%|██        | 5/24 [00:07<00:28,  1.48s/it]/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
100%|██████████| 24/24 [00:25<00:00,  1.08s/it]

In [ ]:
당기순이익조건 = 포괄손익계산샘플[포괄손익계산샘플['항목코드'].isin(['ifrs_ProfitLoss', 'ifrs-full_ProfitLoss'])]['항목명'].unique().tolist() + 손익계산샘플[손익계산샘플['항목코드'].isin(['ifrs_ProfitLoss', 'ifrs-full_ProfitLoss'])]['항목명'].unique().tolist()
당기순이익조건 = list(set(당기순이익조건))
len(당기순이익조건)

129

In [ ]:
매출액조건 = 포괄손익계산샘플[포괄손익계산샘플['항목코드'].isin(['ifrs_Revenue', 'ifrs-full_Revenue'])]['항목명'].unique().tolist() + 손익계산샘플[손익계산샘플['항목코드'].isin(['ifrs_Revenue', 'ifrs-full_Revenue'])]['항목명'].unique().tolist()  + 재무상태표샘플[재무상태표샘플['항목코드'].isin(['ifrs_Revenue', 'ifrs-full_Revenue'])]['항목명'].unique().tolist() + 매출액누락추정[매출액누락추정['항목코드'].isin(['ifrs_Revenue', 'ifrs-full_Revenue'])]['항목명'].unique().tolist() 
매출액조건 = list(set(매출액조건))
len(매출액조건)

39

In [ ]:
영업이익조건 = 포괄손익계산샘플[포괄손익계산샘플['항목코드'].isin(['dart_OperatingIncomeLoss', 'dart_OperatingIncomeLoss'])]['항목명'].unique().tolist() + 손익계산샘플[손익계산샘플['항목코드'].isin(['dart_OperatingIncomeLoss', 'dart_OperatingIncomeLoss'])]['항목명'].unique().tolist()
영업이익조건 = list(set(영업이익조건))
영업이익조건.remove('영업수익')
len(영업이익조건)

35

In [ ]:
매출총이익조건 = 포괄손익계산샘플[포괄손익계산샘플['항목코드'].isin(['ifrs_GrossProfit', 'ifrs-full_GrossProfit'])]['항목명'].unique().tolist() + 손익계산샘플[손익계산샘플['항목코드'].isin(['ifrs_GrossProfit', 'ifrs-full_GrossProfit'])]['항목명'].unique().tolist()
매출총이익조건 = list(set(매출총이익조건))
len(매출총이익조건)

17

---
<br>

1. 항목코드 기준으로 항목명 전처리
2. 항목명 기준으로 항목코드 전처리
3. 다시 항목코드 기준으로 항목명 전처리

In [ ]:
누락데이터 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])

---

# 매출액(ifrs_Revenue)

In [ ]:
매출액누락추정

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
37637,000240,2016,1분기보고서,한국타이어월드와이드,715,entity00160047_udf_IS_2016515164639527_Stateme...,영업수익,"63,692,032,878"
37638,000240,2016,1분기보고서,한국타이어월드와이드,715,dart_TotalSellingGeneralAdministrativeExpenses,영업비용,"9,462,501,282"
37639,000240,2016,1분기보고서,한국타이어월드와이드,715,dart_OperatingIncomeLoss,영업이익(손실),"54,229,531,596"
37640,000240,2016,1분기보고서,한국타이어월드와이드,715,ifrs_FinanceIncome,금융수익,"2,592,826,093"
37641,000240,2016,1분기보고서,한국타이어월드와이드,715,ifrs_FinanceCosts,금융원가,"84,855,022"
...,...,...,...,...,...,...,...,...
12697,950220,2021,반기보고서,네오이뮨텍,701,dart_ElementsOfOtherStockholdersEquity,기타자본구성요소,"7,722,041"
12698,950220,2021,반기보고서,네오이뮨텍,701,dart_OtherComprehensiveIncomeLossAccumulatedAm...,기타포괄손익누계액,"-1,649"
12699,950220,2021,반기보고서,네오이뮨텍,701,ifrs-full_RetainedEarnings,이익잉여금(결손금),"-79,685,967"
12700,950220,2021,반기보고서,네오이뮨텍,701,ifrs-full_Equity,자본총계,"156,076,173"
12701,950220,2021,반기보고서,네오이뮨텍,701,ifrs-full_EquityAndLiabilities,자본과부채총계,"169,788,099"

In [ ]:
len(매출액누락추정['종목코드'].unique())

132

In [ ]:
mask = 매출액누락추정['항목코드'].str.contains('ifrs_GrossProfit|ifrs-full_GrossProfit|dart_OperatingIncomeLoss|ifrs_ProfitLoss|ifrs-full_ProfitLoss')
df = 매출액누락추정[~mask]
df = df[(df['항목명'].isin(['매출액', '매출','I.매출액', 'Ⅰ.매출액', 'I.매출액', '계속영업 매출액', '재화의 판매로 인한 수익(매출액)', '매출액 및 지분법손익', '매출및지분법손익', '매출및 지분법손익', 'I. 영업수익', 'I.매출액', '매출액', '영업수익(매출액)', '수익(매출액)', '수익 (매출액)', '매출', '영업수익','수익', 'I.  매출액','I. 매출액', '매출액.', 'Ⅰ. 매출액'] + 매출액조건)|(df['항목코드'].isin(['ifrs_Revenue', 'ifrs-full_Revenue'])))]
df

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
37637,000240,2016,1분기보고서,한국타이어월드와이드,715,entity00160047_udf_IS_2016515164639527_Stateme...,영업수익,"63,692,032,878"
29682,000700,2019,1분기보고서,유수홀딩스,715,entity00163691_udf_IS_20195149831645_Statement...,매출액,"91,329,697,403"
30704,000700,2019,3분기보고서,유수홀딩스,715,entity00163691_udf_IS_20195149831645_Statement...,매출액,"279,266,501,315"
30012,000700,2019,반기보고서,유수홀딩스,715,entity00163691_udf_IS_20195149831645_Statement...,매출액,"191,258,277,055"
33010,000700,2019,사업보고서,유수홀딩스,715,entity00163691_udf_IS_20195149831645_Statement...,매출액,"366,111,471,934"
...,...,...,...,...,...,...,...,...
32795,900140,2016,3분기보고서,코라오홀딩스,715,entity00838500_udf_IS_2015525214515894_Stateme...,매출액,"252,823,370"
32580,900140,2016,반기보고서,코라오홀딩스,715,entity00838500_udf_IS_2015525214515894_Stateme...,매출액,"171,217,063"
34189,900140,2016,사업보고서,코라오홀딩스,715,entity00838500_udf_IS_2015525214515894_Stateme...,매출액,"338,068,515"
33626,900140,2017,1분기보고서,코라오홀딩스,715,entity00838500_udf_IS_2015525214515894_Stateme...,매출액,"77,227,985"
33270,900140,2017,반기보고서,코라오홀딩스,649,entity00838500_udf_IS_2015525214515894_Stateme...,매출액,"147,365,956"

In [ ]:
len(df['종목코드'].unique())

95

In [ ]:
df['항목명'] = df.apply(lambda x: '매출액', axis=1)
df['항목코드'] = df.apply(lambda x: 'ifrs_Revenue', axis=1)

df =  df.drop_duplicates(subset = ['종목코드', '사업연도', '보고서종류', '회사명', '업종', '항목코드', '항목명'],keep = 'first')
df

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
37637,000240,2016,1분기보고서,한국타이어월드와이드,715,ifrs_Revenue,매출액,"63,692,032,878"
29682,000700,2019,1분기보고서,유수홀딩스,715,ifrs_Revenue,매출액,"91,329,697,403"
30704,000700,2019,3분기보고서,유수홀딩스,715,ifrs_Revenue,매출액,"279,266,501,315"
30012,000700,2019,반기보고서,유수홀딩스,715,ifrs_Revenue,매출액,"191,258,277,055"
33010,000700,2019,사업보고서,유수홀딩스,715,ifrs_Revenue,매출액,"366,111,471,934"
...,...,...,...,...,...,...,...,...
32795,900140,2016,3분기보고서,코라오홀딩스,715,ifrs_Revenue,매출액,"252,823,370"
32580,900140,2016,반기보고서,코라오홀딩스,715,ifrs_Revenue,매출액,"171,217,063"
34189,900140,2016,사업보고서,코라오홀딩스,715,ifrs_Revenue,매출액,"338,068,515"
33626,900140,2017,1분기보고서,코라오홀딩스,715,ifrs_Revenue,매출액,"77,227,985"
33270,900140,2017,반기보고서,코라오홀딩스,649,ifrs_Revenue,매출액,"147,365,956"

In [ ]:
누락데이터 = 누락데이터.append(df)

# 영업이익(dart_OperatingIncomeLoss)

In [ ]:
영업이익누락추정

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
31442,000440,2017,반기보고서,중앙에너비스,467,ifrs_Revenue,매출액,"33,366,681,275"
31443,000440,2017,반기보고서,중앙에너비스,467,ifrs_CostOfSales,매출원가,"27,460,213,806"
31444,000440,2017,반기보고서,중앙에너비스,467,ifrs_GrossProfit,매출총이익,"5,906,467,469"
31445,000440,2017,반기보고서,중앙에너비스,467,dart_TotalSellingGeneralAdministrativeExpenses,판매비와관리비,"5,586,515,819"
31446,000440,2017,반기보고서,중앙에너비스,467,entity00149770_udf_IS_201781121644519_Statemen...,계속영업이익( 손실 ),"319,951,650"
...,...,...,...,...,...,...,...,...
48244,950140,2017,반기보고서,잉글우드랩,649,entity01165739_udf_BS_201742620213518_EquityAb...,자본잉여금,"63,070,087"
48245,950140,2017,반기보고서,잉글우드랩,649,entity01165739_udf_BS_201742611184879_EquityAb...,기타포괄손익누계액,"-417,401"
48246,950140,2017,반기보고서,잉글우드랩,649,entity01165739_udf_BS_2017426111859521_EquityA...,이익잉여금,"-4,256,051"
48247,950140,2017,반기보고서,잉글우드랩,649,ifrs_Equity,자본총계,"63,363,602"
48248,950140,2017,반기보고서,잉글우드랩,649,ifrs_EquityAndLiabilities,자본과부채총계,"89,249,925"

In [ ]:
len(영업이익누락추정['종목코드'].unique())

57

In [ ]:
mask = 영업이익누락추정['항목코드'].str.contains('ifrs_GrossProfit|ifrs-full_GrossProfit|ifrs_ProfitLoss|ifrs-full_ProfitLoss|ifrs_Revenue|ifrs-full_Revenue')
df2 = 영업이익누락추정[~mask]
df2 = df2[(df2['항목명'].isin(['영업이익', '영업이익 (손실)', '영업이익(손실)', 'Ⅲ. 영업이익', 'IV.영업이익(손실)', 'Ⅴ.영업이익', 'Ⅴ.영업이익(손실)', '영업손익', '영업 손익'] + 영업이익조건))|(df2['항목코드'].isin(['dart_OperatingIncomeLoss']))]
df2

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
3736,000500,2015,사업보고서,가온전선,283,entity00104768_udf_IS_2013322155917953_Stateme...,영업이익,"9,877,553,145"
3849,000500,2016,1분기보고서,가온전선,283,entity00104768_udf_IS_2013322155917953_Stateme...,영업이익,"6,731,229,275"
3904,000500,2016,3분기보고서,가온전선,283,entity00104768_udf_IS_2013322155917953_Stateme...,영업이익,"13,334,069,820"
3927,000500,2016,반기보고서,가온전선,283,entity00104768_udf_IS_2013322155917953_Stateme...,영업이익,"9,859,825,214"
4053,000500,2016,사업보고서,가온전선,283,entity00104768_udf_IS_2013322155917953_Stateme...,영업이익,"16,800,018,902"
...,...,...,...,...,...,...,...,...
37414,289220,2020,사업보고서,자이언트스텝,591,entity01264438_udf_IS_20213261033887_Statement...,영업손실,"-1,503,025,319"
47873,307950,2018,사업보고서,현대오토에버,582,entity00362441_udf_IS_2019412331963_StatementO...,영업이익,"70,178,422,437"
31102,950140,2016,사업보고서,잉글우드랩,715,entity01165739_udf_IS_2017426202546769_Stateme...,영업이익,"6,053,262"
30542,950140,2017,1분기보고서,잉글우드랩,715,entity01165739_udf_IS_2017426202546769_Stateme...,영업이익,"1,375,331"
30163,950140,2017,반기보고서,잉글우드랩,649,entity01165739_udf_IS_2017426202546769_Stateme...,영업이익,"-1,373,608"

In [ ]:
len(df2['종목코드'].unique())

45

In [ ]:
df2['항목명'] = df2.apply(lambda x: '영업이익', axis=1)
df2['항목코드'] = df2.apply(lambda x: 'dart_OperatingIncomeLoss', axis=1)

df2 =  df2.drop_duplicates(subset = ['종목코드', '사업연도', '보고서종류', '회사명', '업종', '항목코드', '항목명'],keep = 'first')
df2

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
3736,000500,2015,사업보고서,가온전선,283,dart_OperatingIncomeLoss,영업이익,"9,877,553,145"
3849,000500,2016,1분기보고서,가온전선,283,dart_OperatingIncomeLoss,영업이익,"6,731,229,275"
3904,000500,2016,3분기보고서,가온전선,283,dart_OperatingIncomeLoss,영업이익,"13,334,069,820"
3927,000500,2016,반기보고서,가온전선,283,dart_OperatingIncomeLoss,영업이익,"9,859,825,214"
4053,000500,2016,사업보고서,가온전선,283,dart_OperatingIncomeLoss,영업이익,"16,800,018,902"
...,...,...,...,...,...,...,...,...
37414,289220,2020,사업보고서,자이언트스텝,591,dart_OperatingIncomeLoss,영업이익,"-1,503,025,319"
47873,307950,2018,사업보고서,현대오토에버,582,dart_OperatingIncomeLoss,영업이익,"70,178,422,437"
31102,950140,2016,사업보고서,잉글우드랩,715,dart_OperatingIncomeLoss,영업이익,"6,053,262"
30542,950140,2017,1분기보고서,잉글우드랩,715,dart_OperatingIncomeLoss,영업이익,"1,375,331"
30163,950140,2017,반기보고서,잉글우드랩,649,dart_OperatingIncomeLoss,영업이익,"-1,373,608"

In [ ]:
누락데이터 = 누락데이터.append(df2)

# 당기순이익(ifrs_ProfitLoss)

In [ ]:
당기순이익누락추정

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
31442,000440,2017,반기보고서,중앙에너비스,467,ifrs_Revenue,매출액,"33,366,681,275"
31443,000440,2017,반기보고서,중앙에너비스,467,ifrs_CostOfSales,매출원가,"27,460,213,806"
31444,000440,2017,반기보고서,중앙에너비스,467,ifrs_GrossProfit,매출총이익,"5,906,467,469"
31445,000440,2017,반기보고서,중앙에너비스,467,dart_TotalSellingGeneralAdministrativeExpenses,판매비와관리비,"5,586,515,819"
31446,000440,2017,반기보고서,중앙에너비스,467,entity00149770_udf_IS_201781121644519_Statemen...,계속영업이익( 손실 ),"319,951,650"
...,...,...,...,...,...,...,...,...
2143,950170,2018,1분기보고서,JTC,471,dart_ElementsOfOtherStockholdersEquity,기타자본구성요소,"266,152,611"
2144,950170,2018,1분기보고서,JTC,471,ifrs_RetainedEarnings,이익잉여금(결손금),"12,783,380,050"
2145,950170,2018,1분기보고서,JTC,471,dart_OtherComprehensiveIncomeLossAccumulatedAm...,기타포괄손익누계액,"24,883,013"
2146,950170,2018,1분기보고서,JTC,471,ifrs_Equity,자본총계,"22,706,415,472"
2147,950170,2018,1분기보고서,JTC,471,ifrs_EquityAndLiabilities,자본과부채총계,"32,205,528,508"

In [ ]:
len(당기순이익누락추정['종목코드'].unique())

171

In [ ]:
mask = 당기순이익누락추정['항목코드'].str.contains('ifrs_GrossProfit|ifrs-full_GrossProfit|ifrs_Revenue|ifrs-full_Revenue|dart_OperatingIncomeLoss|ifrs_ComprehensiveIncome|ifrs-full_ComprehensiveIncome')
df3 = 당기순이익누락추정[~mask]
df3 = df3[(df3['항목명'].isin(당기순이익조건))|(df3['항목코드'].isin(['ifrs_ProfitLoss', 'ifrs-full_ProfitLoss']))]
df3

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
31454,000440,2017,반기보고서,중앙에너비스,467,entity00149770_udf_IS_201781119916571_Statemen...,계속영업당기순이익(손실),"960,203,538"
4952,001140,2016,1분기보고서,국보,493,dart_OtherComprehensiveIncomeThatWillNotBeRecl...,당기손익으로 재분류되지 않는 기타포괄손익,"-18,591,074"
15094,001360,2017,반기보고서,삼성제약,212,ifrs_ProfitLoss,계속영업당기순이익(손실),"-4,287,990,068"
17318,001430,2015,사업보고서,세아베스틸,241,entity00106669_udf_IS_20155292156891_Statement...,당기순이익(손실),"165,047,731,489"
17378,001430,2016,1분기보고서,세아베스틸,241,entity00106669_udf_IS_20155292156891_Statement...,당기순이익(손실),"28,834,278,944"
...,...,...,...,...,...,...,...,...
30628,900300,2020,사업보고서,오가닉티코스메틱,649,ifrs-full_ProfitLoss,연결당기순이익 및 총포괄이익,"46,082,441"
28939,900300,2021,1분기보고서,오가닉티코스메틱,649,ifrs-full_ProfitLoss,총포괄이익,"26,755,208"
29815,900300,2021,3분기보고서,오가닉티코스메틱,649,ifrs-full_ProfitLoss,총포괄이익,"26,653,186"
29643,900300,2021,반기보고서,오가닉티코스메틱,649,ifrs-full_ProfitLoss,총포괄이익,"56,682,380"
32382,900310,2017,반기보고서,컬러레이,715,entity01236286_udf_IS_201782410187124_Statemen...,반기순이익,"69,885,510"

In [ ]:
len(df3['종목코드'].unique())

103

In [ ]:
df3['항목명'] = df3.apply(lambda x: '당기순이익', axis=1)
df3['항목코드'] = df3.apply(lambda x: 'ifrs_ProfitLoss', axis=1)
df3['당기'] = df3['당기'].str.replace(',','').astype(int)

df3 = df3.groupby(['종목코드', '사업연도', '보고서종류', '회사명', '업종', '항목코드', '항목명']).min().reset_index()
df3

       종목코드  사업연도   보고서종류       회사명   업종             항목코드    항목명            당기
0    000440  2017   반기보고서    중앙에너비스  467  ifrs_ProfitLoss  당기순이익     960203538
1    001140  2016  1분기보고서        국보  493  ifrs_ProfitLoss  당기순이익     -18591074
2    001360  2017   반기보고서      삼성제약  212  ifrs_ProfitLoss  당기순이익   -4287990068
3    001430  2015   사업보고서     세아베스틸  241  ifrs_ProfitLoss  당기순이익  165047731489
4    001430  2016  1분기보고서     세아베스틸  241  ifrs_ProfitLoss  당기순이익   28834278944
..      ...   ...     ...       ...  ...              ...    ...           ...
437  900300  2020   사업보고서  오가닉티코스메틱  649  ifrs_ProfitLoss  당기순이익      46082441
438  900300  2021  1분기보고서  오가닉티코스메틱  649  ifrs_ProfitLoss  당기순이익      26755208
439  900300  2021  3분기보고서  오가닉티코스메틱  649  ifrs_ProfitLoss  당기순이익      26653186
440  900300  2021   반기보고서  오가닉티코스메틱  649  ifrs_ProfitLoss  당기순이익      56682380
441  900310  2017   반기보고서      컬러레이  715  ifrs_ProfitLoss  당기순이익      69885510

[442 rows x 8 columns]

In [ ]:
누락데이터 = 누락데이터.append(df3)

# 매출총이익(ifrs_GrossProfit)

영업손익 영업손실 매출총이익

In [ ]:
매출총이익누락추정

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
29480,000230,2016,3분기보고서,일동홀딩스,212,ifrs_Revenue,영업수익,"33,158,126,975"
29481,000230,2016,3분기보고서,일동홀딩스,212,ifrs_CostOfSales,영업비용,"34,704,413,632"
29482,000230,2016,3분기보고서,일동홀딩스,212,dart_CostOfSalesFromSaleOfGoods,매출원가,"18,522,547,868"
29483,000230,2016,3분기보고서,일동홀딩스,212,entity00146083_udf_IS_2016119182524679_CostOfS...,판매비와관리비,"15,048,622,960"
29484,000230,2016,3분기보고서,일동홀딩스,212,entity00146083_udf_IS_2016119182527838_CostOfS...,연구개발비,"1,133,242,804"
...,...,...,...,...,...,...,...,...
12697,950220,2021,반기보고서,네오이뮨텍,701,dart_ElementsOfOtherStockholdersEquity,기타자본구성요소,"7,722,041"
12698,950220,2021,반기보고서,네오이뮨텍,701,dart_OtherComprehensiveIncomeLossAccumulatedAm...,기타포괄손익누계액,"-1,649"
12699,950220,2021,반기보고서,네오이뮨텍,701,ifrs-full_RetainedEarnings,이익잉여금(결손금),"-79,685,967"
12700,950220,2021,반기보고서,네오이뮨텍,701,ifrs-full_Equity,자본총계,"156,076,173"
12701,950220,2021,반기보고서,네오이뮨텍,701,ifrs-full_EquityAndLiabilities,자본과부채총계,"169,788,099"

In [ ]:
len(매출총이익누락추정['종목코드'].unique())

183

In [ ]:
mask = 매출총이익누락추정['항목코드'].str.contains('ifrs_Revenue|ifrs-full_Revenue|dart_OperatingIncomeLoss|ifrs_ProfitLoss|ifrs-full_ProfitLoss')
#매출총이익누락추정 = 매출총이익누락추정[~mask]

In [ ]:
df4 = 매출총이익누락추정[~mask]
df4 = df4[(df4['항목명'].isin(['매출총이익', 'Ⅲ.매출총이익', 'III. 매출총이익', '매출총이익(손실)', 'III.매출총이익',
       '영업총이익', 'Ⅲ. 매출총이익(금융업영업이익)', '매출총손익', 'Ⅲ. 매출총이익',
       '매출 총이익(손실)', '매출총이익(영업수익)', 'Ⅲ. 매출총이익(손실)',  '매출총손실',
       'III. 매출총이익(손실)'] + 매출총이익조건))|(df4['항목코드'].isin(['ifrs_GrossProfit', 'ifrs-full_GrossProfit']))]
df4

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
37637,000240,2016,1분기보고서,한국타이어월드와이드,715,entity00160047_udf_IS_2016515164639527_Stateme...,영업수익,"63,692,032,878"
7565,003090,2015,사업보고서,대웅,715,entity00111810_udf_IS_2012320145838359_Stateme...,영업수익,"996,816,139,653"
7729,003090,2016,1분기보고서,대웅,715,entity00111810_udf_IS_2012320145838359_Stateme...,영업수익,"241,646,677,905"
7756,003090,2016,3분기보고서,대웅,715,entity00111810_udf_IS_2012320145838359_Stateme...,영업수익,"744,339,184,958"
7766,003090,2016,반기보고서,대웅,715,entity00111810_udf_IS_2012320145838359_Stateme...,영업수익,"487,844,712,368"
...,...,...,...,...,...,...,...,...
30120,352910,2021,3분기보고서,오비고,620,entity00494546_udf_IS_20211112204740266_udf_IS...,영업수익,"6,310,522,806"
44446,356860,2020,사업보고서,티엘비,262,entity00920379_udf_IS_202134104321223_Statemen...,매출총이익,"23,902,992,113"
41746,356860,2021,1분기보고서,티엘비,262,entity00920379_udf_IS_202134104321223_Statemen...,매출총이익,"3,645,876,756"
42927,356860,2021,3분기보고서,티엘비,262,entity00920379_udf_IS_202134104321223_Statemen...,매출총이익,"15,465,194,146"
42756,356860,2021,반기보고서,티엘비,262,entity00920379_udf_IS_202134104321223_Statemen...,매출총이익,"8,319,727,163"

In [ ]:
len(df4['종목코드'].unique())

71

In [ ]:
df4['항목명'] = df4.apply(lambda x: '매출총이익', axis=1)
df4['항목코드'] = df4.apply(lambda x: 'ifrs_GrossProfit', axis=1)
df4['당기'] = df4['당기'].str.replace(',','').astype(int)
df4 = df4.groupby(['종목코드', '사업연도', '보고서종류', '회사명', '업종', '항목코드', '항목명']).max().reset_index()
df4

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,000240,2016,1분기보고서,한국타이어월드와이드,715,ifrs_GrossProfit,매출총이익,63692032878
1,003090,2015,사업보고서,대웅,715,ifrs_GrossProfit,매출총이익,996816139653
2,003090,2016,1분기보고서,대웅,715,ifrs_GrossProfit,매출총이익,241646677905
3,003090,2016,3분기보고서,대웅,715,ifrs_GrossProfit,매출총이익,744339184958
4,003090,2016,반기보고서,대웅,715,ifrs_GrossProfit,매출총이익,487844712368
...,...,...,...,...,...,...,...,...
464,352910,2021,3분기보고서,오비고,620,ifrs_GrossProfit,매출총이익,6310522806
465,356860,2020,사업보고서,티엘비,262,ifrs_GrossProfit,매출총이익,23902992113
466,356860,2021,1분기보고서,티엘비,262,ifrs_GrossProfit,매출총이익,3645876756
467,356860,2021,3분기보고서,티엘비,262,ifrs_GrossProfit,매출총이익,15465194146
468,356860,2021,반기보고서,티엘비,262,ifrs_GrossProfit,매출총이익,8319727163

In [ ]:
누락데이터 = 누락데이터.append(df4)

# 출력

In [ ]:
누락데이터.to_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/누락데이터.csv', mode='a', header=False)



```javascript
function ClickConnect(){
    console.log("코랩 연결 끊김 방지"); 
    document.querySelector("colab-toolbar-button#connect").click() 
}
setInterval(ClickConnect, 60 * 1000)

```

In [ ]:
누락데이터.describe()

          종목코드  사업연도  보고서종류   회사명    업종          항목코드   항목명              당기
count     1684  1684   1684  1684  1684          1684  1684            1684
unique     202     7      4   207    69             4     4            1684
top     003090  2016  반기보고서    대웅   582  ifrs_Revenue   매출액  63,692,032,878
freq        48   503    461    48   384           558   558               1