<a href="https://colab.research.google.com/github/wkd-woo/finance-statements/blob/main/%EC%A0%84%EC%B2%B4%ED%86%B5%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U finance-datareader
import pandas as pd
import os
from tqdm import tqdm
import FinanceDataReader as fdr

In [2]:
재무상태표일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/재무상태표일괄.csv',index_col = 0,  dtype={'종목코드':'str'})
포괄손익일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/포괄손익일괄.csv',index_col = 0,  dtype={'종목코드':'str'})
현금흐름일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/현금흐름일괄.csv',index_col = 0,  dtype={'종목코드':'str'})

In [3]:
재무상태표일괄 = 재무상태표일괄.dropna()
포괄손익일괄 = 포괄손익일괄.dropna()
현금흐름일괄 = 현금흐름일괄.dropna()

In [4]:
통합재무정보 = pd.concat([재무상태표일괄, 포괄손익일괄, 현금흐름일괄])

In [10]:
len(pd.concat([재무상태표일괄, 포괄손익일괄]))

366238

In [5]:
통합재무정보

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,3분기보고서,3S,262,ifrs_Assets,자산총계,"65,694,406,823"
1,095570,2021,3분기보고서,AJ네트웍스,763,ifrs_Assets,자산총계,"1,357,720,740,483"
2,006840,2021,3분기보고서,AK홀딩스,649,ifrs_Assets,자산총계,"4,361,681,811,190"
3,054620,2021,3분기보고서,APS홀딩스,649,ifrs_Assets,자산총계,"287,247,655,273"
4,265520,2021,3분기보고서,AP시스템,292,ifrs_Assets,자산총계,"445,457,356,474"
...,...,...,...,...,...,...,...,...
158866,069260,2016,3분기보고서,휴켐스,204,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-35,666,129,320"
158867,010240,2016,3분기보고서,흥국,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-7,306,908,074"
158868,189980,2016,3분기보고서,흥국에프엔비,112,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-9,369,683,750"
158869,003280,2016,3분기보고서,흥아해운,501,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"35,038,266,599"
158870,037440,2016,3분기보고서,희림,721,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,534,670,400"

In [8]:
df = pd.DataFrame(
    columns=["종목코드", "사업연도", "보고서종류", "자산총계", "자본총계", "부채총계", "유동자산", "당기순이익", "매출액", "감가상각비", "영업이익", "매출총이익"])

사업연도 = 통합재무정보['사업연도'].unique().tolist()
종목코드리스트 = 통합재무정보['종목코드'].unique().tolist()
보고서종류 = 통합재무정보['보고서종류'].unique().tolist()

for 종목코드 in tqdm(종목코드리스트):
    for 연도 in 사업연도:
        now = 통합재무정보[통합재무정보['종목코드'] == 종목코드]
        then = now[now['사업연도'] == 연도]
        for 보고서 in 보고서종류:
            if not then[then['보고서종류'] == 보고서].empty:
                자산총계 = 자본총계 = 부채총계 = 유동자산 = 당기순이익 = 매출액 = 감가상각비 = 영업이익 = 매출총이익 = 0
                temp = then[then['보고서종류'] == 보고서]

                if len(temp[temp['항목명'] == '자산총계']) != 0:
                    자산총계 = temp[temp['항목명'] == '자산총계'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '자본총계']) != 0:
                    자본총계 = temp[temp['항목명'] == '자본총계'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '부채총계']) != 0:
                    부채총계 = temp[temp['항목명'] == '부채총계'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '유동자산']) != 0:
                    유동자산 = temp[temp['항목명'] == '유동자산'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '당기순이익']) != 0:
                    당기순이익 = temp[temp['항목명'] == '당기순이익'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '매출액']) != 0:
                    매출액 = temp[temp['항목명'] == '매출액'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '감가상각비']) != 0:
                    감가상각비 = temp[temp['항목명'] == '감가상각비'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '영업이익']) != 0:
                    영업이익 = temp[temp['항목명'] == '영업이익'].iloc[0]['당기']
                if len(temp[temp['항목명'] == '매출총이익']) != 0:
                    매출총이익 = temp[temp['항목명'] == '매출총이익'].iloc[0]['당기']

                row = {
                    '종목코드': 종목코드,
                    '사업연도': 연도,
                    '보고서종류': 보고서,
                    '자산총계': 자산총계,
                    '자본총계': 자본총계,
                    '부채총계': 부채총계,
                    '유동자산': 유동자산,
                    '당기순이익': 당기순이익,
                    '매출액': 매출액,
                    '감가상각비': 감가상각비,
                    '영업이익': 영업이익,
                    '매출총이익': 매출총이익
                }

                df = df.append(row, ignore_index=True)

100%|██████████| 1996/1996 [20:52<00:00,  1.59it/s]

In [9]:
df

,종목코드,사업연도,보고서종류,자산총계,자본총계,부채총계,유동자산,당기순이익,매출액,감가상각비,영업이익,매출총이익
0,060310,2021,3분기보고서,"65,694,406,823","39,604,250,285","26,090,156,538","28,475,453,922","2,141,910,533","18,062,116,780",0,"2,022,128,462","4,340,642,679"
1,060310,2021,1분기보고서,"57,532,354,433","37,025,096,733","20,507,257,700","19,475,037,181","-362,882,021","3,775,878,119",0,"-281,517,202","509,620,804"
2,060310,2021,반기보고서,"60,945,473,913","38,562,631,695","22,382,842,218","23,161,861,807","1,119,822,996","11,420,086,693",0,"1,056,624,172","2,578,306,966"
3,060310,2015,사업보고서,"67,359,971,696","37,939,808,456","29,420,163,240","16,069,077,218","-5,599,032,927","23,210,541,648",0,"-4,157,989,321","1,635,010,587"
4,060310,2016,3분기보고서,"59,740,105,216","35,061,777,226","24,678,327,990","17,985,342,311","-2,606,151,383","21,181,410,272",0,"-1,932,287,661","1,334,171,193"
...,...,...,...,...,...,...,...,...,...,...,...,...
38264,065650,2020,사업보고서,"47,217,129,660","27,856,442,820","19,360,686,840","22,416,360,010","-3,521,169,069","31,414,836,428",0,"-2,164,891,445","4,268,763,353"
38265,262840,2020,사업보고서,"29,801,051,915","20,070,268,768","9,730,783,147","22,896,651,019","5,137,807,654","15,270,479,176",0,"4,875,659,090","10,171,194,384"
38266,377190,2021,반기보고서,"757,741,121,157","325,909,527,744","431,831,593,413","21,431,619,143","2,150,044,521",0,0,"4,865,784,111","9,201,108,120"
38267,334890,2021,반기보고서,"228,778,760,058","214,552,741,756","14,226,018,302","44,761,246,058",0,"4,461,311,000",0,"4,160,253,012",0
38268,104120,2016,3분기보고서,"255,486,354,454","59,431,048,872","196,055,305,582","205,728,877,349","954,976,851","236,677,115,740",0,"10,545,813,943","29,853,342,376"

In [11]:
df.to_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/일괄/statements.csv')

In [12]:
df.describe()

,종목코드,사업연도,보고서종류,자산총계,자본총계,부채총계,유동자산,당기순이익,매출액,감가상각비,영업이익,매출총이익
count,38269,38269,38269,38269,38269,38269,38269,38269,38269,38269,38269,38269
unique,1996,7,4,38248,38240,38259,38187,37692,33675,1690,34295,32532
top,060310,2020,3분기보고서,0,0,"37,060,101,252",0,0,0,0,0,0
freq,24,6900,9709,14,22,3,75,564,4564,36580,3967,5717